<%- include('partials/header') %>


<div class="jumbotron centered"> <!-- Bootstrap grids -->
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Members Only</h1>
    <p class="lead">Access to amazing quotes</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
